.console-wrapper{
    width: 100%
}

.console-nav{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.console-btn{
    margin-right: 15px;
    color: white;
    padding: 5px;
    opacity: 0.7;
}

.console-btn:hover{
    cursor: pointer;
    background-color: #72757a;
}

.active{
    opacity: 1;
}

.pipeline-screen{
    height: 230px;
    background-color: #1D1F21;
    overflow: auto;
}

.num-cell{
    opacity: 0.9;
    width: 50px;
    color: white;
    text-align: center;
}

#num-cell-heading{
    opacity: 1;
    font-weight: bold;
}

.instr-cell{
    opacity: 0.9;
    width: 200px;
    color: white;
    padding-left: 20px;
}

#instr-cell-heading{
    opacity: 1;
    font-weight: bold;
    padding-left: 0;
}