.upload {
    position: relative;
    overflow: hidden;
}

input {
    position: absolute;
    font-size: 20px;
    opacity: 0;
    right: 0;
    top: 0;
}
  
.main-nav{
    background-color: #2e2e2e;
    /* width: 70%; */
    /* float: right; */
    /* float: left; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 36px;
}

.brand-icon{
    display: inline;
}

.fa-microchip{
    font-size: large;
    color: skyblue;
    margin-right: 10px;
    margin-left: 10px;
}

.leftSide{
    display: inline;
}

.nav-buttons{
    color: white;
    box-sizing: border-box;
    opacity: 0.8;
    display: inline;
    font-weight: 400;
    font-size: 14px;
    padding: 6px;
    margin: 0;
} 
.nav-buttons:hover{
    cursor: default;
    background-color: #72757a;
} 

.title{
    color: white;
    opacity: 0.8;
    font-weight: 300;
    font-size: 16px;
}

.dropdown-menu{
    margin-top: 5px;
    border-radius: 0%;
    width: 20%;
    left: -101px !important;
    background-color: yellow
}

button {
    float: left;
    height: 100%;
    background-color: #2e2e2e;
    color: grey;
    border: none;
    border-left: 1px solid grey;
    /* border-right: 1px solid #001c3d; */
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    font-family: 'montserrat';     /* montserrat */
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background-color: grey;
    color: white;
    transition-duration: 0.1s;
}

button:active {
    background-color: #454545;
}

.navbar-buttons-right {
    float: right;
}