.sidebar{
    width: 100%;
    height: 722px;
    overflow: auto;
    background-color: #383144;
}

.register{
    color: orange;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25.5px;
}

.register_no{
    padding-left: 30px;
    float: left;
}

.register_val{
    float: right;
    padding-right: 30px;
}

.register_name{
    padding-left: 40px;
}

.sidebar-nav{
    height: 48px;
}

.data-segment{
    color: orange;
    padding-top: 20px;
    padding-left: 10px;
}

.registers{
    overflow: auto;
}

/* .sidebar-options{
    padding-left: 6px;
    width: 100%;
    color: white;
    cursor: pointer;
    background-color: #696b6a;
    font-size: 14px;
    font-weight: 400;
} */

/* .sidebar-options i{
    font-size: 16px;
    padding-right: 6px;
} */

.s-program{
    color: white;
    font-size: 15;
    padding-left: 30px;
    cursor: pointer;
    color: orange;
}

.pa-program{
    color: white;
    font-size: 15;
    padding-left: 30px;
    color: orange;
}

.cache-settings{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.cache-counter{
    border-top: 2px solid white;
}

.cache-headers{
    display: flex;
    flex-direction: row;
}

.cache-options{
    margin-bottom: 10px;
}

.cache-labels{
    width: 100%;
    text-align: center;
}

.cache-labels:hover{
    background-color: #696b6a;
    cursor: default;
}

.display-value{
    float: right;
}

.input-cache-info{
    position: relative;
}

#cache-tableL1{
    width: 100%;
    border-collapse: separate; 
}

#cache-tableL2{
    width: 100%;
    border-collapse: separate;
}

.cache-row{
    height: 30px;
}

.cache-block{
    text-align: center;
    width: 30px;
}

/* ---------------------------------------------------------------- */

.sidebar-menu {
    margin: 0px;
    padding: 0px;
    width: 100%;
    clear: both;
    background-color: #333333;
}

.sidebar-menu button {
    font-family: 'montserrat';
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    background-color: #292929;
    color: white;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
    border-right: 1px solid grey;
}

.sidebar-menu button:hover{
    background-color: rgba(128, 128, 128, 0.466);
    color: white;
}

#b1 {
    background-color: gray;
}

#b2 {
    background-color: #333333;
}

#regs {
    display: block;
}

#mem {
    display: none;
    border: 1px solid #bd93f9;
    margin: 5px;
    padding: 5px;
}

.sidebar-options {
    background-color: #292929;
    width: 100%;
    clear: both;
    margin: 0px;
    padding: 0px;
    /* margin-left: 0px; */
    padding-left: 0px;
    /* float: left; */
}

.sidebar-options button{
    font-family: 'montserrat';
    /* padding: 0px; */
    margin: 0px;
    padding-top: 3px;
    /* margin-top: 0px; */
    padding-bottom: 3px;
    font-size: 16px;
    background-color: #383144;
    color: white;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
    border-right: 1px solid grey;
}

#sb1 {
    background-color: gray;
}

#sb2, #sb3 {
    background-color: #333333;
}

ul, li {
    padding: 0px;
    margin: 0px;
    clear: both;
    /* float:left; */
}

.registers-table {
    margin: 0px;
    width: 100%;
    clear: both;
    padding: 0px;
    color: white;
}

tr {
    padding: 0px;
    margin: 0px;
}

td {
    border: 1px solid #bd93f9;
    margin: 0px;
    padding: 7px;
    width: 50%;
    /* background-color: yellowgreen; */
}

#memory-table, #memory-tabledec, #memory-tablebin {
    color: white;
    font-size: 18px;
    padding: 5px;
}

/* #r0, #at, #v0, #v1, #a0, #a1, #a2, #a3, #t0, #t1, #t2, #t2, #t3, #t4, #t5, #t6, #t7, #s0, #s1, #s2, #s3, #s4, #s5, #s6, #s7, #t8, #t9, #k0, #k1, #gp, #sp, #s8, #ra {
    background-color: #383144;
} */

#s0 {
    background-color: #383144;
}