html, body {
    background-color: #383144;
}

/* .instructionpage {
    height: 100%;
    width: 100%;
    background-color: #383144;
} */

.navbar {
    background-color: #292929;
    /* padding: 10px; */
    /* padding-right: 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    color: white;
    font-family: 'montserrat';
    font-size: 28px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* width: 200px; */
}

.return-button {
    float: right;
    height: 100%;
    /* margin: 0px; */
}

.nutshell {
    font-size: 14px;
}

.svg-image {
    /* width:fit-content; */
    /* height:; */
    margin: 20px;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* object-fit: fill; */
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}