.Editor-wrapper{
    width: 100%
}

/* .replacement_marker {
    background-color: lightyellow
 } */
 .highlight-marker {
    position: absolute;
    /* background-color: #797d99; */
    background-color: rgb(99, 108, 241);
    opacity: 0.4;
 }