@font-face {
  font-family: 'montserrat';
  src: url(./Fonts/Montserrat-Medium.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

html, body {
  z-index: 0;
  height: 100%;
  width: 100%;
}

.main-screen{
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: #2e2e2e;
}

.App{
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 0;
}

.alert{
  z-index: 100;
}

.editor-marker {
  position: absolute;
  background-color: gray;
  opacity: 0.5;
  width: 100% !important;
  left: 0 !important;
  /* z-index: 20; */
}

.ace_highlight-marker {
  /* without this positions will be erong */
  background: #abc; /* color */ 
  z-index: 1000; /* in front of all other markers */ 
}

.myMarker {
  position: absolute; /* without this positions will be wrong */
  background: #abc; /* color */ 
  z-index: 1000; /* in front of all other markers */ 
}

#editor {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  font-size: 16px;
  z-index: 0;

  /* width: 500px; */
  /* height: 100%; */
  /* overflow: hidden; */
}